/* common css start  */
    *{
        margin: 0;
        padding: 0;
        outline: 0;
        box-sizing: border-box;
    }
    .container{
        width: 1170px;
        margin: auto;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    ul{
        list-style-type: none;
    }
    a{
        text-decoration: none;
    }
    .section_info{
        text-align: center;
       

    }
    .section_info h2{
        font-size: 46px;
        font-weight: 800;
        color: #02918c;
        text-transform: uppercase;
    }
    .section_info p{
        font-size: 16px;
        line-height: 41px;
        color: #7e8287;
       
    }
/* common css end  */
/* nav section css start  */
body{
    font-family: 'Open Sans', sans-serif;
}
    #navigation{
        background-color: #02918b;
    }
    #navigation .row{
        justify-content: space-between;
        align-items: center;
    }
    #navigation ul li a{
        font-size: 12px;
        font-weight: 800;
        color: #ffffff;
        padding: 16px 25px;
        margin: 10px 0;
        display: block;
        text-transform: uppercase;
        transition: .8s;
        border-radius: 10px;

    }
    #navigation ul li:hover a{
        background-color: #cfc91d;
        color: black;
    }
/* nav section css end  */

/* Banner section start  */
    #banner{
       height: 728px ;
        background-image: url(../images/banner_bg.jpg);
        background-size: cover;
        background-position: center;
        text-align: center;
        color: #ffffff;
        position: relative;
        z-index: 1;
    }
    #banner::after{
        content: '';
        position: absolute;
        inset:0 ;
        background-color: black;
        opacity: 0.5;
        z-index: -1;
    }
    #banner .container{
        height: 100%;
    }
    #banner .row{
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    #banner h3{
        font-size: 30px;
        font-weight: 400;
    }
    #banner h1{
        font-size: 68px;
        font-weight: 800;
        letter-spacing: 30px;
        text-transform: uppercase;
    }
    #banner p{
        font-size: 18px;
    } 
    #banner a{
        font-size: 14px;
        font-weight: 800;
        color: black;
        letter-spacing: 2px;
        text-transform: uppercase;
        background-color: #cfc91d;
        padding: 19px 42px;
        display: inline-block;
        transition: .8s;
        
    }
    #banner a:hover{
        background-color: lightseagreen;
        color: #ffffff;
    }
 
    #banner img{
        display: block;
        margin: 52px auto;
    }
/* Banner section end  */

/* about section start  */
#about{
    padding: 98px 0;
}
    #about .section_info p{
        width: 880px;
        margin: auto;
    }
    #about .section_info p b{
        font-size: 23px;
        font-weight: 800;
    }
    .section_info{
        margin-bottom: 60px;
    }
    #about .about_item{
        width: 25%;
        text-align: center;
        border-right: 1px solid #dddddd;
        padding: 60px;
        color: #7e8287;
        margin-bottom: 75px;
    }
    #about .about_item:last-child{
        border-right: none;
    }
    #about .about_item img{
        padding-bottom: 32px;
    }
#about .about_item h4{
    font-size: 16px;
    font-weight: 800;
    padding-bottom: 29px;
}
#about .about_item p{
    font-size: 11px;
    line-height: 21px;
}
/* about section end  */

/* services section css start  */
    #service{
        height: 728px;
        background-image: url(../images/service_bg.jpg);
        background-position: center;
        background-size: cover;
        padding: 70px 0;
    }
    #service .inner_container{
        width: 50%;
    }
    #service .section_info{
        text-align: left;
       
    }
    #service .service_item{
        width: 50%;
        padding-right: 110px;
    }
    #service .service_item h4{
        font-size: 16px;
        font-weight: 800;
        color: #7e8287;
        padding: 18px 0;
        
    }
    #service .service_item P{
        font-size: 11px;
        line-height: 21px;
    }
    #service .service_item img{
        margin-top: 60px;
    }

/* services section css end  */

/* my work section css start  */
#my_work .section_info h2{
    padding-top:109px ;
}
    #my_work .section_info p{
        width: 680px;
        margin: auto;
    }
    #my_work .section_info{
        margin-bottom: 78px;
    }
  #my_work .mywork_item{
    width: 25%;
  
    position: relative;
  }
  #my_work .mywork_item img{
    width: 100%;
  display: block;

  }

  #my_work .mywork_item .overlay{
    text-align: center;
    inset: 20px 27px;
    background-color: rgba(2,145,139,0.85);
    position: absolute;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: .7s;

  }
  #my_work .mywork_item:hover .overlay{
    opacity: 1;
    visibility: visible;
  }
  #my_work .mywork_item .overlay h2{
    font-size: 16px;
    font-weight: 800;
    padding-bottom: 15px;
  }
  #my_work .mywork_item .overlay p{
    font-size: 13px;
    line-height: 21px;
    width: 190px;
    margin: auto;
  }
/* my work section css end  */

/* contact section css start  */
#contact{
    padding: 100px 0;
}
#contact .section_info p{
    width: 680px;
    margin: auto;
}

/* contact section css end  */

